[mailgun]
api_url=https://api.mailgun.net/v2
api_key=[api_key]
domain_name=[domain_name]
smtp_hostname=smtp.mailgun.org
smtp_password=[smtp_password]
from_email=[testuser0@your_domain.com]
to_email=['testuser1@your_domain', 'testuser2@your_domain']
attachments=['/var/tmp/test1.txt', '/var/tmp/test2.txt']
