*.py[co]
*.swp

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
test-reporting-results*
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# IDE Project Files
*.project
*.pydev*
*.idea
